$borderColor: #d5d5d5;
$scrollColor: #c2c2c2;

$sliderColor: #7c77a5;

$netBtnColor: #b9b4d4;
$tdBtnColor: #2d2a49;

$orange: #ed9023;
$blue: #9f8cff;
$green: #ffbc55;
$yellow: #69b9a6;
$red: #c84747;

$difficult: #ff7785;
$easy: #ffbc55;
$boring: #9f8cff;
$engaging: #69b9a6;
