.course-container{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#f4f4f4;
}

.course-card{

    width:600px;

    background:white;

    padding:40px;

    border-radius:12px;

    box-shadow:0 0 15px rgba(0,0,0,.08);

    display:flex;

    flex-direction:column;
}

.course-card h2{

    font-weight:500;

    margin-bottom:15px;
}

.course-card select,
.course-card input{

    padding:15px;

    font-size:16px;

    border-radius:8px;

    border:1px solid #ccc;

    margin-bottom:25px;
}

.divider{

    text-align:center;

    margin-bottom:25px;

    font-size:22px;

    font-weight:600;
}

.course-card button{

    width:130px;

    align-self:center;

    padding:14px;

    background:#4F46E5;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

    transition:.3s;
}

.course-card button:hover{

    background:#4338ca;
}