HOSTNAME=localhost
PORT=3000
NODE_ENV=development

DB_URI="mongodb://localhost:27017/debe"
DB_PROD="mongodb+srv://<mongodb_srv_user>:<mongodb_srv_pass>@<mongodb_srv_host>/<dbname>?retryWrites=true&w=majority"

SESSION_EXPIRATION=604800000
SESSION_SECRET="<replace_with_a_strong_session_secret>"

JWT_EXPIRY=3600000
JWT_REFRESH_EXPIRY=2592000000
JWT_SECRET="<replace_with_a_strong_JWT_session_secret>"

# Deployment
DEPLOYMENT_HOST="<deployment_host>"
DEPLOYMENT_USER="<deployment_user>"
DEPLOYMENT_KEY="<deployment_ssh_key_path>"

# GOOGLE API
GOOGLE_API_KEY="<replace_with_google_api_key>"

# MailGun
MG_APIKEY="<replace_with_mailgun_api_key>"
MG_DOMAIN="<replace_with_mailgun_host>"
