.sidebar{

width:240px;

background:#24243e;

height:100vh;

position:fixed;

left:0;

top:0;

padding:30px 20px;

box-sizing:border-box;

}

.sidebar h2{

color:white;

margin-bottom:40px;

}

.sidebar a{

display:flex;

align-items:center;

gap:12px;

color:#d4d4e8;

text-decoration:none;

padding:15px;

border-radius:8px;

margin-bottom:10px;

transition:.3s;

}

.sidebar a:hover{

background:#4b4df5;

color:white;

}

.sidebar .active{

background:#4b4df5;

color:white;

}